<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>영화상세페이지</title>
  <link rel="stylesheet" href="/static/css/main/detail.css" />
  <!-- <script src="../../JS/main/app.js" type="module"></script> -->
</head>

<body>
  <div id="container">
    <!-- 로고부분 -->
    <header class="wrapper">
      <div class="wrapper-title">
        <a href="/templates/html/main/index.html">
          <h1>MyMovie</h1>
        </a>
        <div class="wrapper-info-1">
          <ul>
              <li><a href="/templates/html/main/detail.html">영화</a></li>
              <li><a href="/templates/html/community/maincommu.html">커뮤니티</a></li>
          </ul>
        </div>
      </div>
      <!-- 나머지부분 묶기 -->
      <ul class="wrapper-info-2">
          <li><a href="/templates/html/login/login_page.html">로그인</a></li>
          <li><a href="/templates/html/login/signup.html">회원가입</a></li>
          <li><a href="#">검색</a></li>
      </ul>
  </header>