<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie</title>
  <link rel="stylesheet" href="/static/css/main/styles.css" />
  <script src="/static/js/main/app.js" type="module"></script>
</head>

<body>
  <div id="container">
    <header class="wrapper">
      <div class="wrapper-title">
        <a href="index.html">
          <h1>MyMovie</h1>
        </a>
        <div class="wrapper-info-1">
          <ul>
              <li><a href="detail.html">영화</a></li>
              <li><a href="/templates/html/community/maincommu.html">커뮤니티</a></li>
          </ul>
        </div>
      </div>
      <!-- 나머지부분 묶기 -->
          <ul class="wrapper-info-2">
              <li><a href="../login/login_page.html">로그인</a></li>
              <li><a href="/templates/html/login/signup2.html">회원가입</a></li>
              <li><a href="#">검색</a></li>
          </ul>
    </header>

  <div class="wrapper-back">
    <div class="title">
     <h2>영화찾기 사이트 <br> MyMovie입니다.</h2>
    </div>
     <div>
      <form class="search" action="#" method="post" name="movie">
        <input type="text" id="search-input" name="searchMovie" placeholder="검색할 영화 제목을 입력해주세요."" autofocus />      
        <button type="submit" id="search-btn">검색</button>
      </form>
     </div>
  </div>

  <div class="filter-menu">
    <select class="select-genre">
      <option value="all">전체</option>
      <option value="action">액션</option>
      <option value="crime">범죄</option>
      <option value="SF">SF</option>
      <option value="comedy">코미디</option>
      <option value="romance">로맨스</option>
      <option value="thriller">스릴러</option>
      <option value="horror">공포</option>
      <option value="war">전쟁</option>
      <option value="sports">스포츠</option>
      <option value="fantasy">판타지</option>
      <option value="music">음악</option>
      <option value="musical">뮤지컬</option>
      <option value="mello">멜로</option>
    </select>
  </div>
  <!-- 영화 받아올 공간 만들기 -->
  <div class="box-wrapper">
    <div class="box one"> </div>
    <div class="box two"> </div>
    <div class="box three"> </div>
    <div class="box four"> </div>
    <div class="box five"> </div>
    <div class="box six"> </div>
    <div class="box seven"> </div>
    <div class="box eight"> </div>
  </div>


  <footer>
   
  </footer>
</div>
</body>

</html>