<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>내 영화</title>
  <link rel="stylesheet" href="/static/css/myPage/mypage.css"/>
</head>

<body>
  <div id="container">
    <header class="wrapper">
      <div class="wrapper-title">
        <a href="/templates/html/main/index.html">
          <h1>MyMovie</h1>
        </a>
        <div class="wrapper-info-1">
          <ul>
              <li><a href="detail.html">내 영화</a></li>
              <li><a href="/templates/html/community/maincommu.html">커뮤니티</a></li>
          </ul>
        </div>
      </div>
      <!-- 나머지부분 묶기 -->
          <ul class="wrapper-info-2">
              <li><a href="/templates/html/login/login_page.html">로그인</a></li>
              <li><a href="/templates/html/login/signup.html">회원가입</a></li>
              <li><a href="/templates/html/searchpage/Searchpg.html">검색</a></li>
          </ul>
    </header>
    <main>
      <div class="like">
        <h1>좋아요 누른 영화</h1>
        <div class="slider-container">
            <div class="slider">
                <div class="slider-inner">
            <div class="box" th:each="movies:${movies}" ><a th:href="@{/movie/{id}(id=${movies.id})}" ><img th:src="${movies.poster_path}" alt="NO IMAGE"></a></div>
                </div>
                </div>
                </div>
    </div>
    <div class="current">
    </div>
  <div class="current">
      <h1>최근 본 영화</h1>
      
    <div class="slider-container">
      <button class="button left"><</button>
      <div class="slider">
        <div class="slider-inner">
          <div class="box one"></div>
          <div class="box two"></div>
          <div class="box three"></div>
          <div class="box four"></div>
          <div class="box five"></div>
          <div class="box six"></div>
        </div>
      </div>
      <button class="button right">></button>
    </div>
    </div>
    </main>
  </body>
